**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/node_modules/
**/TestResults/
**/.git/
**/.github/
**/README.md
**/CHANGELOG.md
**/docker-compose*.yml
**/compose*.yml
**/Dockerfile
.dockerignore
.gitignore
*.db
*.db-shm
*.db-wal
src/wwwroot/app.src.css
